div.product-details {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1200px;
}

@media (min-width: 500px) {
  div.product-details {
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  }
}
