@import "../../../../colors.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slider {
  display: block;
  flex: 1;
  overflow: hidden;
}

.container {
  padding: 0;
}

img.watermark,
button.finished-btn {
  display: none;
}

@media (min-width: 720px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1000px) {
  :host {
    flex-direction: row;
  }

  .container {
    order: 2;
    width: 45%;
    margin: auto;
    max-width: 720px;
    position: relative;
  }

  .slider {
    flex: none;
    width: 40%;
    max-width: 25rem;
    order: 1;
  }

  img {
    border-radius: 5px;
  }

  img.watermark {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }

  button.finished-btn {
    display: block;
    margin-top: 2rem;
    outline: none;
    background-color: $primary-color;
    border: none;
    font-family: m-bold;
    border-radius: 3px;
    font-size: 1.2rem;
    color: aliceblue;
    padding: 0.8rem;
    cursor: pointer;
    transition: 200ms;
    height: unset;
    width: 100%;
    &.low-visibility {
      opacity: 0.5;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
