<shared-headline>Was wir bieten</shared-headline>

<div class="host-wrapper">
  <div class="container">
    <div class="digital-info-wrapper">
      <div class="digital-product-info">
        <h3>Standard Download</h3>
        <div class="info-content">
          <h4>Kostenlos</h4>
          <p>720p<span>Auflösung</span></p>
        </div>
      </div>

      <div class="digital-product-info">
        <h3>HQ Download</h3>
        <div class="info-content">
          <h4>4.99€</h4>
          <p>4K<span>Auflösung</span></p>
        </div>
      </div>
    </div>

    <div class="swiper-container physical-product-info-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product-info-wrapper">
            <img src="/assets/images/acryl-demo.png" alt="" />
            <div class="info-content">
              <h3>Acryl-Gemälde</h3>
              <hr />
              <h4>Ab 39.99€</h4>
              <p>
                Eine unglaubliche Impression von Tiefe und Brillanz durch den
                Druck auf Acryl-Glas
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-info-wrapper">
            <img src="/assets/images/canvas-demo.png" alt="" />
            <div class="info-content">
              <h3>Leinwand</h3>
              <hr />
              <h4>Ab 14.99€</h4>
              <p>
                Die raue Leinwandtextur gibt deinem Gemäde mehr Tiefe und
                Charakter
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-info-wrapper">
            <img src="/assets/images//alu-demo.png" alt="" />
            <div class="info-content">
              <h3>Aluminium-Gemälde</h3>
              <hr />
              <h4>Ab 39.99€</h4>
              <p>
                Für den modernen, industriellen Look haben wir den Druck auf
                Aluminium im Angebot
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-info-wrapper">
            <img src="/assets/images/acryl-demo.png" alt="" />
            <div class="info-content">
              <h3>Acryl-Druck</h3>
              <hr />
              <h4>Ab 39.99€</h4>
              <p>
                Eine unglaubliche Impression von Tiefe und Brillanz durch den
                Druck auf Acryl-Glas
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
