<div class="item">
  <div class="square-ratio">
    <img
      src="/assets/images/cat-art-placeholder.jpg"
      alt=""
      class="product-image"
    />
    <img src="/assets/icons/trash.svg" alt="trash-btn" class="trash-icon" />
  </div>

  <div class="item-details">
    <h3>Cheeky Chameleon Lorem Ipsum</h3>
    <h4>Custom Canvas 30x30cm</h4>
    <div class="price-box">
      <div class="quantity-stepper">
        <p class="subtract-quantity">-</p>
        <p class="stepper" value="1">1</p>
        <p class="add-quantity">+</p>
      </div>
      <p class="price">49.95 € <span>incl. MwSt.</span></p>
    </div>
  </div>
</div>
