@import "../../../../../../colors.scss";

.product-preview-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  swiper {
    position: relative;
    top: 0;
    height: max-content;
    width: 100%;
    border-radius: 5px;
  }
  .gallery-top {
    margin-bottom: 1rem;
  }
}

.thumbs-wrapper {
  position: relative;

  .thumb-navigation-button {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: $secondary-color;
    outline: none;
    cursor: pointer;
    svg {
      height: 1rem;
      width: 1rem;
      fill: aliceblue;
    }
    &.right {
      right: 0;
      transform: translate(25%, -50%);
    }
    &.left {
      left: 0;
      transform: translate(-25%, -50%);
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.download-btn {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
  background-color: transparent;
  border: 2px solid $secondary-color;
  font-family: m-bold;
  font-size: 1.4rem;
  color: $secondary-color;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms;

  svg {
    fill: $secondary-color;
    margin-right: 0.6rem;
    transition: 200ms;
    height: 2rem;
    width: 2rem;
  }

  &:hover {
    background-color: $secondary-color;
    color: aliceblue;

    svg {
      fill: aliceblue;
    }
  }
}
