<div id="hero-wrapper">
  <div class="container">
    <h1>Wir zeichnen dein Haustier</h1>
    <h2>
      Lass es von Picasso, Vincent Van Gogh <br />
      oder Leonardo Da Vinci
      <span>kostenlos</span> zeichnen!
    </h2>
  </div>
  <div class="button-hero-flat">
    <div class="button-wrapper">
      <button
        *ngIf="true"
        routerLink="/create"
        [class.sticky]="isCallToActionSticky"
      >
        <ng-container *ngIf="!isCallToActionSticky"
          >ERSTELLE DEIN KUNSTWERK</ng-container
        >
        <ng-container *ngIf="isCallToActionSticky"
          ><img src="/assets/icons/paint-white.svg" alt=""
        /></ng-container>
      </button>
    </div>
  </div>

  <img class="cat-eyes" src="/assets/images/cat-eyes-unstyled.png" alt="" />
  <img src="/assets/images/cat-eyes-styled.png" alt="" class="cat-eyes" />
</div>
<img class="wave" src="/assets/images/wave-background.svg" alt="" />
