<div class="cart-wrapper">
  <div class="header">
    <img class="bag-icon" src="/assets/icons/bag-red.svg" alt="cart-icon" />
    <h2>Dein Einkaufswagen</h2>
    <img class="close-btn" src="/assets/icons/close.svg" alt="close-btn" />
  </div>
  <div class="items">
    <div class="item">
      <div class="square-ratio">
        <img
          src="/assets/images/cat-art-placeholder.jpg"
          alt=""
          class="product-image"
        />
      </div>

      <div class="item-details">
        <h3>Cheeky Chameleon Lorem Ipsum</h3>
        <h4>Custom Canvas 30x30cm</h4>
        <div class="price-box">
          <div class="stepper">- 1 +</div>
          <p class="price">49.95 €</p>
        </div>
      </div>
    </div>
  </div>
</div>
