<shared-headline>Was wir bieten</shared-headline>

<img class="res-demo-lg" src="/assets/images/lily-res-demo.png" alt="" />
<div class="container">
  <div class="res-demo-wrapper">
    <div class="res-demo">
      <img
        src="/assets/images/lily-eye-res-demo-hq.JPG"
        style="filter: blur(1.8px)"
        alt=""
      />
      <div class="text">
        <h3>Standard Download</h3>
        <hr />
        <h4>Kostenlos</h4>
        <p>720p <span>Auflösung</span></p>
      </div>
    </div>
    <div class="res-demo">
      <img src="/assets/images/lily-eye-res-demo-hq.JPG" alt="" />
      <div class="text">
        <h3>High Quality Download</h3>
        <hr />
        <h4>4.99€</h4>
        <p>4k <span>Auflösung</span></p>
      </div>
    </div>
  </div>

  <h2 class="headline" style="margin-top: 5rem">
    Gemäldedruck zu dir ins Wohnzimmer
  </h2>
  <div class="product-demo-wrapper">
    <div class="product-demo horizontal-layout">
      <img src="/assets/images/canvas-demo.png" alt="" />
      <div class="text">
        <h3>Qualitativer Galleriedruck</h3>
        <hr />
        <h4>ab 14.99€</h4>
        <p>
          Eine unglaubliche Impression von Tiefe und Brillanz durch den Druck
          auf Acryl-Glas
        </p>
      </div>
    </div>
    <div class="product-demo">
      <img src="/assets/images/acryl-demo.png" alt="" />
      <div class="text">
        <h3>Qualitativer Galleriedruck</h3>
        <hr />
        <h4>ab 14.99€</h4>
        <p>
          Eine unglaubliche Impression von Tiefe und Brillanz durch den Druck
          auf Acryl-Glas
        </p>
      </div>
    </div>
    <div class="product-demo">
      <img src="/assets/images/alu-demo.png" alt="" />
      <div class="text">
        <h3>Qualitativer Galleriedruck</h3>
        <hr />
        <h4>ab 14.99€</h4>
        <p>
          Eine unglaubliche Impression von Tiefe und Brillanz durch den Druck
          auf Acryl-Glas
        </p>
      </div>
    </div>
  </div>
</div>
