@import "../../../../../../colors.scss";
h3.title {
  color: $secondary-color;
  font-family: pf-reg;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 5px;
}

div.product-price {
  color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12px;
  font-size: 16px;
  h4.selected-product {
    font-family: m-bold;
  }
  h4.selected-product-price {
    font-family: m-reg;
    font-weight: 400;
  }
}

hr {
  margin-bottom: 12px;
}

.label-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
  h5 {
    font-family: pf-reg;
    font-size: 18px;
    font-weight: 400;
    color: $secondary-color;
  }
  a {
    display: flex;
    align-items: center;
    color: #5d687d;
    font-family: m-reg;
    font-size: 13px;
    img {
      margin-left: 5px;
      height: 18px;
      opacity: 0.5;
    }
  }
}

.selection-section {
  display: grid;
  width: 100%;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin-bottom: 1.5rem;

  .selector-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .selector-btn {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    font-family: m-reg;
    font-size: 1rem;
    color: $dark-font-color;

    input:checked ~ .check-indicator {
      border: solid $primary-color 2px;
    }

    input:not(:checked) ~ .check-indicator:hover {
      border-color: #d90429;
    }
    .check-indicator {
      border-radius: 3px;
      border: solid $secondary-color 2px;
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: 300ms;
    }
  }
}

.submit-section {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 2rem;

  button {
    outline: none;
    font-family: m-bold;
    font-size: 14px;
    color: aliceblue;
    background-color: $primary-color;
    border: none;
    border-radius: 3px;
    grid-column-start: 2;
    grid-column-end: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    cursor: pointer;
    img {
      margin-right: 10px;
      height: 25px;
      path {
        fill: "#FFFFFF";
      }
    }
    &:hover {
      background-color: #d90429;
      color: white;
    }
  }
  .quantity-stepper {
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    display: flex;
    border: solid $secondary-color 2px;
    justify-content: space-between;
    align-items: center;

    p {
      position: relative;
      z-index: 0;
      font-family: m-reg;
      font-size: 18px;
      padding: 0.625rem;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    p.stepper {
      padding: 0;
      position: relative;
      z-index: 1;
      display: flex;
      text-align: center;
      font-family: m-light;
      font-size: 1rem;
    }
  }
}
