@import "./colors.scss";

//style-reset-----------------------------------------------------------

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $alice-blue;

  &.fixed {
    overflow: hidden;
  }
}

.container {
  padding: 0 5rem 0 5rem;
}

h1 {
  font-family: pf-reg;
  font-weight: 400;
}

a {
  font-family: m-bold;
  color: $alice-blue;
  cursor: pointer;
}

//fonts-----------------------------------------------------------------

@font-face {
  font-family: "m-extra-light";
  src: url("/assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "m-light";
  src: url("/assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "m-reg";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "m-med";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "m-semi-bold";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "m-bold";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "pf-reg";
  src: url("/assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
