@import "./colors.scss";

//style-reset-----------------------------------------------------------

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  background-color: $alice-blue;

  &.fixed {
    overflow: hidden;
  }
}

.container {
  padding: 1rem 1rem 0 1rem;
}

.max-width-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

h1 {
  font-family: pf-reg;
  font-weight: 400;
}

a {
  font-family: m-bold;
  color: $alice-blue;
  cursor: pointer;
}

//fonts-----------------------------------------------------------------

@font-face {
  font-family: "m-extra-light";
  src: url("/assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "m-light";
  src: url("/assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "m-reg";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "m-med";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "m-semi-bold";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "m-bold";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "pf-reg";
  src: url("/assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}

//responsive----------------------------------------------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
  }
  .container {
    padding: 1rem 5rem 0 5rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
